body {
  font-family: 'Roboto', sans-serif;
}

.button-add-city,
.button-close-input,
.button-submit-input {
  color: #fff;
  margin-left: 10px;
  position: relative;
  top: -12px;
  left: 0px;
  cursor: pointer;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.button-add-city:hover,
.button-close-input:hover,
.button-submit-input:hover {
  font-size: 40px;
  top: -8px;
  left: -4px;
  color: #392816;
}



.button-close-input {
  display: none;
  cursor: pointer;
}

.button-submit-input {
  display: none;
  cursor: pointer;
}

.city-input {
  display: none;
  font-size: 70px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 80%;
  color: #fff;
  font-weight: 100;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  margin-top: 20px;

}

.city-name {
  color: #fff;
  display: inline-block;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 300ms all;
  transition: 300ms all;
  cursor: pointer;
  position: relative;
}

.city-name:hover {
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 15px;

}

.weather-widget {
  background-image: url("../graphics/bg.jpg");
  background-size: cover;
  color: #2c3e50;
  width: 95%;
  min-width: 400px;
  max-width: 900px;
  height: 500px;
  padding: 30px;
  position: relative;
  margin-left: -15px;
}

.weather-description {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 30px;
}

.weather-icon {
  width: 110px;

}

.weather-type {
  text-align: center;
}

.bottom-info {
  bottom: 20px;
  position: absolute;
  width: 100%;
  padding-right: 30px;
  p {
    color: #d1d1b0;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  .wind-speed, .wind-degrees {
    text-align: right;
  }

}


.temperature {
  color: #45321f;
  font-size: 30px;
  font-weight: 500;
}